<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Dashboard - Admin</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 text-center">
                <img src="{{ url_for('static', filename='images/logo.jpg') }}" alt="Logo" class="logo my-3">
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 sidebar">
                <h5><a href="{{ url_for('admin_dashboard') }}">Dashboard</a></h5>
                <h5><a href="{{ url_for('cadastros_admin') }}">Cadastros</a></h5>
                <h5><a href="{{ url_for('anotacoes_admin') }}">Anotações</a></h5>
                <h5><a href="{{ url_for('criar_perfil') }}">Criar Perfil</a></h5>
                <h5><a href="{{ url_for('logout') }}" class="logout-link">Sair</a></h5>
            </div>
            
            <div class="col-md-10 main-content">
                <!-- Conteúdo da página principal -->
                <div class="row">
                        <div class="mb-3">
                            <label for="year" class="form-label" style="color: white;">Ano:</label>
                            <select id="year" class="form-select"></select>
                        </div>
                        <div class="chart-container mb-4">
                            <canvas id="lineChart"></canvas>
                        </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{{ url_for('static', filename='scripts/scripts.js') }}"></script>
</body>
</html>